<div class="product_detail_container">
  <div class="product_detail_container-wrapper">
    <div class="product_detail-left">
      <div class="product_detail_container-wrapper_img_wrapper">
        <img src="{{ product.image_url }}" class="product_img">

        {%- if product.is_owner -%}
          <div class="product_menu">
            {% if product.is_correct_chain %}
              <button class="product_menu-icon_btn" id="open_transfer_btn">
                <img class="product_menu-icon" src="{{ 'send-icon.svg' | asset_url }}">
              </button>
            {% else %}
              <button class="product_menu-icon_btn" onclick="openNetworkModal('transfer', '{{ product.collection.chain.name }}', '{{ product.collection.chain.id }}')">
                <img class="product_menu-icon" src="{{ 'send-icon.svg' | asset_url }}">
              </button>
            {% endif %}
          </div>
        {%- endif -%}
      </div>

      <div>
        <div class="accordion_wrapper">
          {% render 'product-detail-accordion' %}
        </div>

        <div class="accordion_wrapper">
          {% render 'attributes-accordion' %}
        </div>
      </div>
    </div>

    <div class="product_detail-right">
      <a href="{{ product.collection.url }}" class="link">
        <div class="product_detail-right_collection">
          <img src="{{ product.collection.icon_image_url }}" class="product_detail-right_collection_collection_img">
          <div class="product_detail-right_collection_name">
            {{ product.collection.name }}
          </div>
        </div>
      </a>

      <h1 class="product_detail-product_name">
        {{ product.name }}
      </h1>

      <div class="product_detail-owner_wrapper">
        <p class="product_detail-owner_text">Owned by</p>
        <p class="product_detail-owner_name">
          {{ product.owner.username | omit_address }}
        </p>
      </div>

      <p class="product_detail-description">
        {{ product.description }}
      </p>

      <div>
        {% render 'sale-card' %}
      </div>
    </div>
  </div>

  <div class="event_history_wrapper">
    <h3 class="event_history_title">Event history</h3>
    {%- if section.settings.show_event_history -%}
      {% render 'event-history' %}
    {%- endif -%}
  </div>
</div>

{% render 'transfer-modal' %}
{% render 'change-network-modal' %}
{% render 'buy-modal' %}

{% schema %}
  {
    "name": "Product Detail",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_event_history",
        "label": "Show Event History",
        "default": true
      }
    ]
  }
{% endschema %}

<style>
  .product_detail_container {
    padding: 30px 120px;
    box-sizing: border-box;
  }

  .product_detail_container-wrapper {
    width: 100%;
    display: flex;
    gap: 60px;
    margin-bottom: 64px;
  }

  .product_detail-left {
    width: 70%;
    height: fit-content;
  }

  .accordion_wrapper:first-child {
    margin-top: 32px;
  }

  .accordion_wrapper:not(:first-child) {
    margin-top: 12px;
  }

  .product_detail_container-wrapper_img_wrapper {
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    box-shadow: 0 40px 32px -12px hsl(0deg 0% 0% / 0.2);
    border-radius: 16px;
    overflow: hidden;
    position: relative;
  }

  .product_detail_container-wrapper_img_wrapper .product_img {
    height: 100%;
    width: 100%;
  }

  .product_detail_container-wrapper_img_wrapper:hover .product_menu {
    opacity: 1;
    bottom: 20px;
  }

  .product_detail-right_collection_name {
    font-size: 1.5rem;
  }

  .product_detail-owner_wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1rem;
    margin-top: 12px;
    color: #777e90;
  }

  .product_detail-owner_name {
    margin-left: 4px;
    color: #3772ff;
  }

  .product_menu-icon_btn {
    width: 46px;
    height: 46px;
    border-radius: 999px;
    background-color: #232631;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .product_menu-icon_btn:hover {
    background-color: #373d50;
  }

  .product_menu-icon_btn .product_menu-icon {
    width: 20px;
    height: 20px;
    filter: invert(1);
  }

  .product_detail_container-wrapper_img_wrapper .product_menu {
    position: absolute;
    display: flex;
    width: 70%;
    left: 50%;
    bottom: -20px;
    opacity: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #232631;
    gap: 8px;
    padding: 16px;
    border-radius: 999px;
    transform: translateX(-50%);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  }

  .product_detail-right {
    width: 60%;
  }

  .product_detail-product_name {
    font-size: 48px;
    font-weight: bold;
    margin-top: 8px;
  }

  .product_detail-description {
    color: #777e90;
    margin-top: 12px;
  }

  .product_detail-right_collection {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
  }

  .product_detail-right_collection_collection_img {
    height: 48px;
    width: 48px;
    border-radius: 8px;
    margin-right: 8px;
  }

  .link {
    text-decoration: none;
    color: inherit;
  }

  .event_history_title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
</style>