<div class="top_section-container">
  <div class="top_section_box_wrapper">
    <div class="top_section_box">
      <div class="top_section_bg_image"></div>
      <div class="top_section_box_content">
        <h1 class="top_section_title">{{ section.settings.title }}</h1>
        <p class="top_section_description">
          {{ section.settings.description }}
        </p>

        <a href="#about">
          <button class="blue_btn" id="open_connect_modal">Get started</button>
        </a>
      </div>
    </div>
  </div>

  <div class="top_section-slider">
    <div class="top_section_slider-slide_track">
      <div class="top_section_slider-slide_track-slide">
        <img src="{{ section.settings.image_1 }}" alt="Image 1">
      </div>
      <div class="top_section_slider-slide_track-slide">
        <img src="{{ section.settings.image_2 }}" alt="Image 2">
      </div>
      <div class="top_section_slider-slide_track-slide">
        <img src="{{ section.settings.image_3 }}" alt="Image 3">
      </div>
      <div class="top_section_slider-slide_track-slide">
        <img src="{{ section.settings.image_4 }}" alt="Image 4">
      </div>
      <div class="top_section_slider-slide_track-slide">
        <img src="{{ section.settings.image_5 }}" alt="Image 5">
      </div>
      <div class="top_section_slider-slide_track-slide">
        <img src="{{ section.settings.image_6 }}" alt="Image 6">
      </div>
    </div>
    <div class="top_section_slider-slide_track">
      <div class="top_section_slider-slide_track-slide">
        <img src="{{ section.settings.image_1 }}" alt="Image 1">
      </div>
      <div class="top_section_slider-slide_track-slide">
        <img src="{{ section.settings.image_2 }}" alt="Image 2">
      </div>
      <div class="top_section_slider-slide_track-slide">
        <img src="{{ section.settings.image_3 }}" alt="Image 3">
      </div>
      <div class="top_section_slider-slide_track-slide">
        <img src="{{ section.settings.image_4 }}" alt="Image 4">
      </div>
      <div class="top_section_slider-slide_track-slide">
        <img src="{{ section.settings.image_5 }}" alt="Image 5">
      </div>
      <div class="top_section_slider-slide_track-slide">
        <img src="{{ section.settings.image_6 }}" alt="Image 6">
      </div>
    </div>
  </div>
</div>

<style>
  .top_section-container {
    position: relative;
  }

  .top_section_box_wrapper {
    padding: 32px;
  }

  .top_section_box {
    position: relative;
    margin: 0 auto;
    aspect-ratio: 3 / 2;
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 120px);
  }

  .top_section_bg_image {
    background-image: url('{{ section.settings.top_section_bg_image }}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(3px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .top_section_box_content {
    padding: 32px;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    backdrop-filter: brightness(0.5);
  }

  .top_section-container-rainbow {
    width: 70%;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    margin: 0 auto;
    background: linear-gradient(90deg, #512c30 0%, #67304c 14.23%, #672f64 33.26%, #4b3971 56.49%, #35385e 81.38%, #233449 100%);
    filter: blur(125px);
  }

  .top_section_title {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.15em;
  }

  .top_section_description {
    font-weight: 400;
    margin-top: 2rem;
    opacity: 0.5;
    margin-bottom: 48px;
  }

  {% comment %}
    =====Slider====={% endcomment %}

  .top_section-slider {
    overflow: hidden;
    width: 100%;
    display: flex;
  }

  .top_section_slider-slide_track {
    display: flex;
  }

  .top_section_slider-slide_track:nth-child(1) {
    animation: loop 50s -25s linear infinite;
  }

  .top_section_slider-slide_track:nth-child(2) {
    animation: loop2 50s linear infinite;
  }

  .top_section_slider-slide_track-slide {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .top_section_slider-slide_track-slide img {
    width: 80%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  @keyframes loop {
    0% {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes loop2 {
    0% {
      transform: translateX(0);
    }
    to {
      transform: translateX(-200%);
    }
  }

  @media only screen and (min-width: 600px) and(max-width: 768px) {
    .top_section_title {
      font-size: 2rem;
    }

    .top_section_description {
      margin-top: 1rem;
      font-size: 0.9rem;
    }
  }

  @media only screen and (max-width: 600px) {
    .top_section_title {
      font-size: 2rem;
    }

    .top_section_description {
      margin-top: 1rem;
      font-size: 0.9rem;
    }

    .top_section_slider-slide_track-slide {
      width: 150px;
      height: 150px;
    }
  }
</style>

{% schema %}
  {
    "name": "Top Section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "WELCOME TO THE COCOA<br />:Bitter-Sweet Kingdom"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Description",
        "default": "\"COCOA: Bitter-Sweet Kingdom\" is a captivating tale of heroes and villains battling in a realm where chocolate, coffee, and candy coexist."
      },
      {
        "type": "image_picker",
        "id": "top_section_bg_image",
        "label": "Background Image",
        "default": "https://dev-cocoshop-images.s3.us-east-2.amazonaws.com/top-section-bg.png"
      },
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image 1",
        "default": "https://dev-cocoshop-images.s3.us-east-2.amazonaws.com/chocovan+%230.png"
      }, {
        "type": "image_picker",
        "id": "image_2",
        "label": "Image 2",
        "default": "https://dev-cocoshop-images.s3.us-east-2.amazonaws.com/arabica+%230.png"
      }, {
        "type": "image_picker",
        "id": "image_3",
        "label": "Image 3",
        "default": "https://dev-cocoshop-images.s3.us-east-2.amazonaws.com/arabica.png"
      }, {
        "type": "image_picker",
        "id": "image_4",
        "label": "Image 4",
        "default": "https://dev-cocoshop-images.s3.us-east-2.amazonaws.com/biter+%230.png"
      }, {
        "type": "image_picker",
        "id": "image_5",
        "label": "Image 5",
        "default": "https://dev-cocoshop-images.s3.us-east-2.amazonaws.com/candra+%230.png"
      }, {
        "type": "image_picker",
        "id": "image_6",
        "label": "Image 6",
        "default": "https://dev-cocoshop-images.s3.us-east-2.amazonaws.com/chocovan+%233.png"
      }
    ]
  }
{% endschema %}