<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <style>
      body {
        margin: 0;
        padding: 0;
      }
    </style>

    <link rel="stylesheet" href="{{ 'index.css' | asset_url }}">
    {{ content_for_header }}

    <style>
      .blue_btn {
        border: none;
        outline: none;
        background-color: {{ settings.button_color }}
        ;
        color: white;
        font-size: 18px;
        padding: 15px 30px;
        border-radius: 50px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
      }

      .blue_btn:hover {
        background-color: {{ settings.hover_button_color }}
        ;
      }

      .blue_btn:active {
        background-color: {{ settings.active_button_color }}
        ;
      }
    </style>

    <script src="{{ 'index.js' | asset_url }}"></script>
  </head>
  <body>
    {{ content_for_layout }}

    {% render 'footer' %}
  </body>
</html>